<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vitassoundboard.app.soundboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.vitassoundboard.app.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name="com.vitassoundboard.app.PleaseRead"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.PleaseReadTheme"
            >

        </activity>

        <activity
            android:name="com.vitassoundboard.app.LoadingScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1dc098edf19d0f6fe4ffc7b1d6cc052c0ab3533e" />
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
